{% extends "base_menu.html" %}
{% block content %}
<h1>Delete Ad</h1>

<p>Are you sure you want to delete the ad:</p>
<p><em><b>{{ ad }}?</b></em></p>
<hr>
<p>!!! If you delete the ad, you will lost all comments and messages related to the ad.</p>
<hr>
<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" class="btn btn-primary" value="Yes, delete.">
  <a href="{% url 'ads:ad_detail' ad.id %}" class="btn btn-primary">Cancel</a>
</form>

<div style="display:flex; justify-content:center; align-items:center;">
    <i class="fas fa-question" style="color:#c93a0d;font-size:6rem;margin-top:50px;"></i>
</div>
{% endblock %}